html {
	overflow-y: scroll;
}
:root {
	--bgcolor: #141414;
	--fgcolor: #f8f8f2; 
	--accentcolor: #bd93f9; 
	--linkcolor: #d97a98;
	--hovercolor: #feb690;
	--visitedcolor: #f174a8; 
	--prebgcolor: #282a36;
}
body {
	max-width:800px;
	margin:40px auto;
	padding:0 10px;
	font-family: -apple-system-body, Courier, monospace;
    font-weight: 300;
	color: var(--fgcolor); 
	background: var(--bgcolor);
	font-size: 1.2em;

}
a:link {
	color: var(--linkcolor);
}
a:visited {
	color: var(--visitedcolor);
}
a:active {
	color: var(--visitedcolor);
}
a:hover{
	color: var(--hovercolor);
}
a.site_header {
	text-decoration: none
}
a.site_header:link {
	color: var(--accentcolor);
}
a.site_header:visited {
	color: var(--accentcolor);
}
a.site_header:active {
	color: var(--accentcolor);
}
a.nav-bar {
	text-transform: uppercase;
	letter-spacing: -.02em;
}
.footer {
	font-size: 0.8em;
}
h1 {
    font-family: -apple-system-headline, Courier, monospace;
    color: var(--accentcolor);
    line-height: 1.2;
}
.site_header:after {
    content:' ';
    display:block;
    border:1px solid var(--fgcolor);
    border-radius:2px;
    margin-top: 10px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
p > code {
	color: var(--fgcolor); 
	background: var(--prebgcolor); 
	padding:2px;
}
pre {
	color: var(--fgcolor); 
	background: var(--prebgcolor); 
	padding:24px; 
	overflow-x: auto;
}
article {
	padding:24px 0;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
figcaption {
	font-family: -apple-system-caption, Courier, monospace;
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
	color: #ccc;
}
figure {
	margin: auto;
}
img {
	display: block; 
	max-width: 100%; 
	height: auto; 
	margin: auto;
}
