html {
	overflow-y: scroll;
}
:root {
	--bgcolor: rgb(40, 41, 40);
	--fontcolor: rgb(180, 180, 180); 
	--linkcolor: rgb(255, 140, 130); 
	--hovercolor: rgb(255, 160, 150);
	--visitedcolor: rgb(255, 130, 182); 
	--precolor: #fff; 
	--prebgcolor: #000;
	--headerweight: 400;
}
body{
	max-width:800px;
	margin:40px auto;
	padding:0 10px;
	font: -apple-system-body;
    font-family: Courier, monospace;
    font-weight: 300;
	color:var(--fontcolor); 
	background: var(--bgcolor);
}
a:link {
	color: var(--linkcolor);
}
a:visited {
	color: var(--visitedcolor);
}
a:active {
	color: var(--visitedcolor);
}
a:hover{
	color: var(--hovercolor);
}
h1,h2,h3 {
	line-height:1.2;
}
h1 {
    font: -apple-system-headline;
    font-weight: var(--headerweight);
 }
h2 {
	font: -apple-system-subheadline;
    font-weight: var(--headerweight);
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(220, 220, 220);
}
p > code {
	color: var(--precolor); 
	background: var(--prebgcolor); 
	padding:2px;
}
pre {
	color: var(--precolor); 
	background: var(--prebgcolor); 
	padding:24px; 
	overflow-x: auto;
}
article {
	padding:24px 0;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
figcaption {
	font: -apple-system-caption;
	text-align: center;
	font-style: italic;
}
figure {
	margin: auto;
}
img {
	display: block; 
	max-width: 100%; 
	height: auto; 
	margin: auto;
}
